<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>微服务统一认证</title>
</head>
<body>
<h2>自定义登录页面</h2>
<!--这是 试图返回的数据-->
<p th:text=" ${error}">
</p>
<p th:text=" ${param.error}">
</p>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<form action="/authentication/form" method="post">
    <table>
        <tr>
            <td>用户名：</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">登录</button></td>
        </tr>
    </table>
</form>
</body>
</html>